<div class="full bg-info">

    <div class="container">
        <div class="row footer">
            <div class="col-3">
                <h5>Giới Thiệu</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ut quasi tempore, error optio quod accusamus quibusdam expedita officia voluptate, non reprehenderit omnis aliquid nesciunt, amet dolores ipsa doloribus molestias!</p>
            </div>
            <div class="col-3">
                <h5>Hỗ trợ</h5>
                <ul>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Liên kết nhanh</h5>
                <ul>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                    <li>tỳhgh</li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Liên hệ</h5>
                <form action="" method="post">
                    <input type="text">
                </form>
            </div>
        </div>
    </div>

</div>